<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<!-- ======= Login Section ======= -->

<section id="login" class="login d-flex align-items-center" data-aos="fade-up"
    data-aos-delay="200">

    <div class="container">
        <h1>Please login</h1>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form class="login-form" action="" method="post">
            <div class="row">

                <div class="feature-box col-sm-12">
                    <input type="email" placeholder="E-mail" name="email"
                        value="{{
                        request.form.email }}">
                </div>
                <div class="feature-box col-sm-12">
                    <input type="password" placeholder="Password"
                        name="password" value="{{
                        request.form.password }}">
                </div>
                <div class="feature-box col-sm-12">
                    <input class="btn btn-default" type="submit" name="login"
                        value="Login">
                </div>

                <div class="feature-box col-sm-12">
                    <a href="{{ url_for('auth.register') }}">Don't have an
                        account?</a>
                </div>
                <div class="feature-box col-sm-12">
                    <a href="{{ url_for('auth.reset_password') }}">Forgot your
                        password?</a>

                </div>

            </div>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</section>

<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<!-- <script src="/static/vendor/php-email-form/validate.js"></script> -->

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>
{% endblock %}
