<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<!-- ======= Login Section ======= -->

<section id="login" class="login d-flex align-items-center">

    <div class="container">
        <h1>Forgot your password?</h1>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form class="login-form" action="" method="post">
            <div class="row">
                <div class="feature-box col-sm-12">
                    <p>To reset your password, please enter your email address used to sign up for FlexStart. We will
                        send the password reset instructions to the email address for this account.</p>
                    <p>If you don't know the username or your email address is no longer valid, please <a
                            href="/home#contact">Contact Us</a> for
                        further assistance.
                    </p>
                </div>

                <div class="feature-box col-sm-12">
                    <input type="email" placeholder="E-mail" name="email" value="{{
          request.form.email }}">
                </div>
                <div class="feature-box col-sm-12">
                    <input class="btn btn-default" type="submit" name="login" value="Reset password">
                </div>


            </div>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
    </div>
</section>
{% endblock %}
