<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="row your-desktop-buttons">
            <div class="btn-group btn-group-lg col-sm-4" role="group"
                aria-label="Third group">
                <button type="button" class="btn btn-user-tile company-data"
                    onclick="location.href= '/user/user_data';">
                    <a>Company Data</a>
                </button>
            </div>
            <div class=" btn-group btn-group-lg col-sm-4" role="group"
                aria-label="Third group">
                <button type="button" class="btn btn-user-tile your-invoices"
                    onclick="location.href= '/user/your_invoices';">
                    <a>Your Invoices</a>
                </button>
            </div>
            <div class="btn-group btn-group-lg col-sm-4" role="group"
                aria-label="Third group">
                <button type="button" class="btn btn-user-tile your-income">
                    <a>Your Income</a>
                </button>
            </div>
        </div>
    </div>

</section><!-- End Pricing Section -->
<section id="contact" class="contact">
    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
    <!-- End Footer -->
</section>
</body>

</html>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center
    justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

{% endblock %}
