{% extends "base.html" %}
{% block content %}

<!-- ======= Login Section ======= -->

<section id="login" class="login d-flex align-items-center">

    <div class="container">
        <h1>Please login</h1>
        <br>
        <form class="login-form" action="" method="post">
            <div class="row">

                <div class="feature-box col-sm-12">
                    <input type="email" placeholder="E-mail" name="email" value="{{
          request.form.email }}">
                </div>
                <div class="feature-box col-sm-12">
                    <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
                </div>
                <div class="feature-box col-sm-12">
                    <input class="btn btn-default" type="submit" name="login" value="Login">
                </div>

                <div class="feature-box col-sm-12">
                    <a href="/register">Don't have an account?</a>
                </div>

            </div>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
</section>
{% endblock %}
