<html>

<head>
    <title>New invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
</head>
<!-- ======== HEADER ======== -->

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/home" class="logo d-flex align-items-center">
                <img src="static/assets/img/logo.png" alt="">
                <span>FlexStart</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="new-invoice scrollto" href="/new-invoice">New invoice</a></li>
                    <li><a class="nav-link scrollto" href="#">Your invoices</a></li>
                    <li><a class="nav-link scrollto" href="/home#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="login-logout scrollto" href="#">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <section id="new-invoice" class="new-invoice d-flex align-items-center">
        <div class="container">
            <form class="new-invoice-form" action="" method="post">
                <div class="row">
                    <!-- main data -->

                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_type">Invoice type</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text" value=""
                            name="invoice[sell_date]" id="invoice_type" autocomplete="off">
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_no">Invoice number</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text" value="{{ variable }}"
                            name="invoice[sell_date]" id="invoice_no" autocomplete="off">
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_issue_date">Issue date</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text" value=""
                            name="invoice[sell_date]" id="invoice_issue_date" autocomplete="off">
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_issue_city">City of issue</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text" value=""
                            name="invoice[sell_date]" id="invoice_issue_city" autocomplete="off">
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_sell_date">Sell date</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text" value=""
                            name="invoice[sell_date]" id="invoice_sell_date" autocomplete="off">
                    </div>
                    <div class="feature-box col-lg-6 ">
                        <input type="text" placeholder="Last name" name="name" value="{{
          request.form.name }}">
                    </div>
                    <div class="feature-box col-lg-6 ">
                        <input type="tel" placeholder="Phone number" name="phone_no"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" value="{{ request.form.phone_no }}" required>
                    </div>
                    <div class="feature-box col-lg-6 ">
                        <input type="text" placeholder="Email address" name="email" value="{{ request.form.email }}"
                            required>
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <input type="password" placeholder="Password" name="password"
                            value="{{ request.form.password }}" required>
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <input type="password" placeholder="Confirm password" name="password"
                            value="{{ request.form.password }}" required>
                    </div>
                    <div class="checkbox col-lg-12 ">
                        <input type="checkbox" id="terms-and-conditions" value="{{ request.form.password }}" required>I
                        accept the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a> and the <a
                            href="/privacy-policy" target="_blank">Privacy Policy</a>
                    </div>
                    <div class="checkbox col-lg-12 ">
                        <input type="checkbox" id="newsletter" value="{{ request.form.password }}">I wish to subscribe
                        to the newsletter
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <input class="btn btn-default" type="submit" value="Register">
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <a href="/login">Already have an account?</a>
                    </div>

                </div>
            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <?php $IPATH = $_SERVER["DOCUMENT_ROOT"]."static/assets/php/"; include($IPATH."footernav.html") ?>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>

</body>

</html>
