<html>

<head>
    <title>New invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
</head>
<!-- ======== HEADER ======== -->

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/home" class="logo d-flex align-items-center">
                <img src="static/assets/img/logo.png" alt="">
                <span>FlexStart</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="new-invoice scrollto" href="/new-invoice">New invoice</a></li>
                    <li><a class="nav-link scrollto" href="#">Your invoices</a></li>
                    <li><a class="nav-link scrollto" href="/home#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="login-logout scrollto" href="#">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <section id="new-invoice" class="new-invoice d-flex align-items-center">
        <div class="container">
            <form class="new-invoice-form" action="" method="post">
                <div class="row">

                    <!-- main data -->

                    <div class="col-sm-4 expense_hidden22 ">
                        <label for="invoice_type">Invoice type</label>
                        <select class="form-control  datepicker f3 hasDatepicker" type="text" name="invoice[sell_date]"
                            id="invoice_type" autocomplete="off">
                            <option value="regular">Regular</option>
                            <option value="Proforma">Proforma</option>
                            <option value="Advanced payment">Advanced payment</option>
                        </select>
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_no">Invoice number</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text"
                            value="{{ invoice_number }}" name="invoice[sell_date]" id="invoice_no" autocomplete="off"
                            readonly>
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_issue_date">Issue date</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="date" value="{{ issue_date }}"
                            name="invoice[sell_date]" id="invoice_issue_date" autocomplete="off" readonly>
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_issue_city">City of issue</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="text" value=""
                            name="invoice[sell_date]" id="invoice_issue_city" autocomplete="off">
                    </div>
                    <div class="col-sm-2 expense_hidden22 ">
                        <label for="invoice_sell_date">Sell date</label>
                        <input class="form-control  datepicker f3 hasDatepicker" type="date" value="{{ issue_date }}"
                            name="invoice[sell_date]" id="invoice_sell_date" autocomplete="off" min="{{ min_date }}"
                            max="{{ max_date }}">
                    </div>

                    <!-- issuer -->

                    <div class="col-sm-6 expense_hidden22 ">
                        <label for="issuer">Issuer</label>
                        <p>{{ tax_no }}</p>
                        <p>{{ name }}</p>
                        <p>{{ address }}</p>
                        <p>{{ bank_account }}</p>
                    </div>

                    <!-- receiver -->

                    <div class="col-sm-6 expense_hidden22 ">
                        <label for="receiver">Receiver</label>
                        <p>{{ tax_no }}</p>
                        <p>{{ name }}</p>
                        <p>{{ address }}</p>
                        <p>{{ bank_account }}</p>
                    </div>

                    <!-- invoice positions - texts -->
                    <div class="row invoice-positions">
                        <div class="feature-box col-lg-6 ">Invoice positions</div>
                        <!-- <div class="col-sm-1 more more_d row1 hidden" style="display: none;">PKWiU&nbsp;</div>
                    <div class="col-sm-1 more_discount1 row4 hidden" style="display: none;">Rabat</div> -->
                        <div class="col-sm-1 row3 ">Amount</div>
                        <div class="col-sm-1 row3">Unit</div>
                        <div class="col-sm-1 more_discount2 row1">Net price</div>
                        <div class="col-sm-1 more row_tax ">VAT %</div>
                        <div class="col-sm-1 row1 ">Net sum</div>
                        <div class="col-sm-1 row1">Gross sum</div>

                        <!-- invoice positions - values -->

                        <div class="feature-box col-lg-6 "><input type="text" name="position" value="{{
                        request.form.position }}"></div>
                        <!-- <div class="col-sm-1 more more_d row1 hidden" style="display: none;">PKWiU&nbsp;</div>
                    <div class="col-sm-1 more_discount1 row4 hidden" style="display: none;">Rabat</div> -->
                        <div class="col-sm-1 row3 "><input type="number" name="amount" value="{{
                        request.form.amount }}"></div>
                        <div class="col-sm-1 row3"><select type="text" name="unit" value="{{
                        request.form.unit }}">
                                <option value="item">item</option>
                                <option value="h">h</option>
                                <option value="days">days</option>
                                <option value="months">months</option>
                                <option value="km">km</option>
                                <option value="m2">m2</option>
                                <option value="kg">kg</option>
                            </select></div>
                        <div class="col-sm-1 more_discount2 row1"><input type="number" name="net_price" value="{{
                        request.form.net_price }}"></div>
                        <div class="col-sm-1 more row_tax "><select type="number" name="tax_rates" value="{{
                        request.form.tax_rates }}">
                                <option value="0.0">0%</option>
                                <option value="0.05">5%</option>
                                <option value="0.08">8%</option>
                                <option value="0.23">23%</option>
                            </select></div>
                        <div class="col-sm-1 row1 "><input type="number" name="net_sum" value="{{
                        request.form.net_sum }}" readonly></div>
                        <div class="col-sm-1 row1"><input type="number" name="gross_sum" value="{{
                        request.form.gross_sum }}" readonly></div>
                    </div>
                    <div class="issue-box col-lg-12 ">
                        <input class="btn btn-default" type="submit" value="Issue">
                    </div>


                </div>
            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <?php $IPATH = $_SERVER["DOCUMENT_ROOT"]."static/assets/php/"; include($IPATH."footernav.html") ?>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>

</body>

</html>
