<html>

<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <section id="register" class="register d-flex align-items-center">

        <div class="container">
            <h1>Please register</h1>
            <br>
            <form class="register-form" action="" method="post">
                <div class="row">
                    <div class="feature-box col-lg-6 ">
                        <input type="text" placeholder="First name" name="surname" value="{{
          request.form.surname }}">
                    </div>
                    <div class="feature-box col-lg-6 ">
                        <input type="text" placeholder="Last name" name="name" value="{{
          request.form.name }}">
                    </div>
                    <div class="feature-box col-lg-6 ">
                        <input type="tel" placeholder="Phone number" name="phone_no"
                            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" value="{{ request.form.phone_no }}" required>
                    </div>
                    <div class="feature-box col-lg-6 ">
                        <input type="email" placeholder="Email address" name="username"
                            value="{{ request.form.username }}" required>
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <input type="password" placeholder="Password" name="password"
                            value="{{ request.form.password }}" required>
                    </div>
                    <!-- <div class="feature-box col-lg-12 ">
                        <input list="choose-plan" id="choose-plan" name="choose-plan" placeholder="Choose plan"
                            value="{{ request.form.plan }}" />

                        <datalist id="choose-plan">
                            <option value="free-plan">
                            <option value="starter-plan">
                            <option value="business-plan">
                            <option value="ultimate-plan">
                        </datalist>
                    </div> -->
                    <div class="feature-box col-lg-12 ">
                        <input type="password" placeholder="Confirm password" name="password"
                            value="{{ request.form.password }}" required>
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <input class="btn btn-default" type="submit" value="Login">
                    </div>
                    <div class="feature-box col-lg-12 ">
                        <a href="/login">Already have an account?</a>
                    </div>

                </div>
            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>
    </section>
</body>

</html>
