<html>

<head>
    <title>User panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/home" class="logo d-flex align-items-center">
                <img src="static/assets/img/logo.png" alt="">
                <span>FlexStart</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="new-invoice scrollto" href="/new-invoice">New invoice</a></li>
                    <li><a class="nav-link scrollto" href="#">Your invoices</a></li>
                    <li><a class="nav-link scrollto" href="/home#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="login-logout scrollto" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Table Section ======= -->

    <section id="invoices" class="invoices">
        <div id="list_table" class="narrower">
            <div class="table-responsive ">
                <table class="table table-hover table-striped dynamic_columns">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" onchange="Firmlet.bulk_select_switch(this);"
                                    class="hidden-print">
                            </th>
                            <th id="number_th">
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('number'); ; $('#form1').submit(); return false;">Number</a>
                            </th>
                            <th style="text-align:right;">
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('price_net'); ; $('#form1').submit(); return false;">Net
                                    sum</a>
                            </th>
                            <th class="text-right">
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('price_gross'); ; $('#form1').submit(); return false;">Gross
                                    sum</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('buyer_name'); ; $('#form1').submit(); return false;">Client</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('issue_date'); ; $('#form1').submit(); return false;">Isue
                                    date</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('paid_date'); ; $('#form1').submit(); return false;">Sell
                                    date</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('product_cache'); ; $('#form1').submit(); return false;">Product</a>
                            </th>
                            <th class="options">
                                Status <a class="help_sign" title2="Dowiedz się więcej na stronie pomocy →"
                                    id="sugester_hl_oa1dUbIUDkL3lBXEqp"
                                    onclick="return sugester_help_link('sugester_hl_oa1dUbIUDkL3lBXEqp', 'invoice-status', 'pl')"
                                    href="https://pomoc.fakturownia.pl/helplink/invoice-status">?</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="trline174063933">

                            <input type="hidden" id="attachment174063933" value="0">
                            <input type="hidden" id="mail174063933" value="">
                            <input type="hidden" id="overdue174063933" value="false">
                            <td>
                                <div class="small-menu-outline hidden-print" data-invoice-id="174063933">
                                    <div class="btn-group-vertical">
                                        <a title="Edytuj" class="green btn btn-xs btn-default cms_edit" onclick=""
                                            href="/invoices/174063933/edit">&nbsp;<i class="icon-pencil"></i></a>
                                        <a title="Zobacz" class="btn btn-xs btn-default cms_show"
                                            href="/invoices/174063933"><i class="icon-zoom-in"></i></a>
                                    </div>
                                </div>
                                <input type="checkbox" name="invoice_ids[]" value="174063933"
                                    data-checkbox-id="174063933" onclick="Firmlet.bulk_select();showOverduesButton();"
                                    class="hidden-print">
                            </td>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td class="inv_status">
                                <div>
                                    <div class="btn-group">
                                        <span data-toggle="dropdown"
                                            class="status_span_174063933 colored_select badge dropdown-toggle status-paid "
                                            style="background-position: -0px 0;" data-original-title="" title="">
                                            <i id="status_sent_174063933" style="display:none;" title="Wysłano dnia "
                                                class="icon-envelope-alt">&nbsp;</i>
                                            <span class="status_name_174063933">
                                                Opłacona
                                            </span>
                                            <span class="caret"></span>
                                        </span>
                                        <ul id="status_174063933"
                                            class="dropdown-menu pull-right hidden-print invoice_status_paid"
                                            role="menu">
                                            <li>
                                                <a class="status_change_issued" href="#"
                                                    onclick="change_invoice_status('174063933', 'issued', 'issued', 'Wystawiona');; return false;">Wystawiona</a>
                                            </li>
                                            <li>
                                                <a class="status_change_paid" href="#"
                                                    onclick="change_invoice_status('174063933', 'paid', 'paid', 'Opłacona');; return false;">Opłacona</a>
                                            </li>
                                            <li>
                                                <a class="status_change_partial" href="#"
                                                    onclick="$('#myModal').modal();$('#partial_payment_invoice_id').val(174063933);$('#partial_payment_price').val(4000.0);$('#partial_payment_price').focus();; return false;">Częściowo
                                                    opł.</a>
                                            </li>
                                            <li>
                                                <a class="status_change_sent" href="#"
                                                    onclick="change_invoice_status('174063933', 'sent', 'sent', 'Wysłana');; return false;">Wysłana</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- colored_select -->
                            </td>
                            <td class="hidden-print">
                                <div class="btn-group pull-right dropdown">
                                    <button data-toggle="dropdown" class="btn glow dropdown-toggle">
                                        <i class="icon-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li></li>
                                        <li><a title="Zobacz" class="cms_show" href="/invoices/174063933">Zobacz</a>
                                        </li>
                                        <li><a title="Edytuj" class="cms_edit" onclick=""
                                                href="/invoices/174063933/edit">Edytuj</a></li>
                                        <li><a href="/invoices/174063933.pdf">Drukuj</a> </li>
                                        <li><a href="/invoices/174063933?form_action=send">Wyślij</a> </li>
                                        <li><a href="/invoices/new?from=174063933">Wystaw podobną</a></li>
                                        <li>
                                            <a data-confirm="Uwaga! Usunięcie dokumentu jest procesem nieodwracalnym! Czy na pewno usunąć fakturę 2022/09/1? "
                                                class="cms_delete " data-remote="true" rel="nofollow"
                                                data-method="delete" href="/invoices/174063933">Usuń</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- table-responsive -->
            <br>
            <br>

            <div class="options bottom" id="options_bottom"></div>
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <?php $IPATH = $_SERVER["DOCUMENT_ROOT"]."static/assets/php/"; include($IPATH."footernav.html") ?>
    <!-- End Footer -->

</body>

</html>
