<html>

<head>
    <title>User panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/home" class="logo d-flex align-items-center">
                <img src="static/assets/img/logo.png" alt="">
                <span>FlexStart</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="new-invoice scrollto" href="/new-invoice">New invoice</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('your_invoices') }}">Your invoices</a></li>
                    <li><a class="nav-link scrollto" href="/home#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="login-logout scrollto" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Table Section ======= -->

    <section id="invoices" class="invoices">
        <div id="list_table" class="narrower">
            <div class="table-responsive ">
                <table class="table table-hover table-striped dynamic_columns">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" onchange="Firmlet.bulk_select_switch(this);"
                                    class="hidden-print">
                            </th>
                            <th id="number_th">
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('number'); ; $('#form1').submit(); return false;">Number</a>
                            </th>
                            <th style="text-align:right;">
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('price_net'); ; $('#form1').submit(); return false;">Net
                                    sum</a>
                            </th>
                            <th class="text-right">
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('price_gross'); ; $('#form1').submit(); return false;">Gross
                                    sum</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('buyer_name'); ; $('#form1').submit(); return false;">Client</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('issue_date'); ; $('#form1').submit(); return false;">Isue
                                    date</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('paid_date'); ; $('#form1').submit(); return false;">Sell
                                    date</a>
                            </th>
                            <th>
                                <a href="#" class="table-header"
                                    onclick="$('#order').val('product_cache'); ; $('#form1').submit(); return false;">Product</a>
                            </th>
                            <th>
                                <a class="table-header">
                                    Actions</a>
                            </th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        <tr id="trline174063933">

                            <input type="hidden" id="attachment174063933" value="0">
                            <input type="hidden" id="mail174063933" value="">
                            <input type="hidden" id="overdue174063933" value="false">
                            <td>
                                <div class="small-menu-outline hidden-print" data-invoice-id="174063933">
                                    <div class="btn-group-vertical">
                                        <a title="Edytuj" class="green btn btn-xs btn-default cms_edit" onclick=""
                                            href="/invoices/174063933/edit">&nbsp;<i class="icon-pencil"></i></a>
                                        <a title="Zobacz" class="btn btn-xs btn-default cms_show"
                                            href="/invoices/174063933"><i class="icon-zoom-in"></i></a>
                                    </div>
                                </div>
                                <input type="checkbox" name="invoice_ids[]" value="174063933"
                                    data-checkbox-id="174063933" onclick="Firmlet.bulk_select();showOverduesButton();"
                                    class="hidden-print">
                            </td>

                            <td hidden>{{ invoice.id }}</td>
                            <td>{{ invoice.invoice_no }}</td>
                            <td>{{ invoice.sum_net }}</td>
                            <td>{{ invoice.sum_gross }}</td>
                            <td>{{ invoice.recipient_tax_no }}</td>
                            <td>{{ invoice.issue_date }}</td>
                            <td>{{ invoice.sell_date }}</td>
                            <td>{{ invoice.position }}</td>

                            <td class="invoice-action-buttons">
                                <button class="col-lg-12 invoice-action edit">
                                    <a href="{{ url_for('your_invoices') }}" target="_blank">Edit</a>
                                </button>
                                <button class="col-lg-12 invoice-action print">
                                    <a href="{{ url_for('home') }}" target="_blank">Print</a> </button>
                                <button class="col-lg-12 invoice-action send">
                                    <a href="{{ url_for('home') }}" target="_blank">Send</a> </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive -->
            <br>
            <br>

            <div class="options bottom" id="options_bottom"></div>
        </div>
    </section>
    <!-- ======= Footer ======= -->
    <?php $IPATH = $_SERVER["DOCUMENT_ROOT"]."static/assets/php/"; include($IPATH."footernav.html") ?>
    <!-- End Footer -->

</body>

</html>
