{% extends "base.html" %}
{% block content %}


<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

        <!-- <header class="section-header">
            <h2>Pricing</h2>
            <p>Check our Pricing</p>
        </header> -->

        <!-- <div class="row gy-4" data-aos="fade-left">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> -->
        <div class="row your-desktop-buttons">
            <div class="btn-group btn-group-lg col-sm-4" role="group" aria-label="Third group">
                <button type="button" class="btn btn-user-tile company-data" onclick="location.href = '/user_data';">
                    <a>Company Data</a>
                </button>
            </div>
            <div class=" btn-group btn-group-lg col-sm-4" role="group" aria-label="Third group">
                <button type="button" class="btn btn-user-tile your-invoices"
                    onclick="location.href = '/your_invoices';">
                    <a>Your Invoices</a></button>
            </div>
            <div class="btn-group btn-group-lg col-sm-4" role="group" aria-label="Third group">
                <button type="button" class="btn btn-user-tile your-income">
                    <a>Your Income</a></button>
                <!-- </div>
            </div>
        </div> -->
                <!-- <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box-your-desktop">
                    <h3 style="color: #07d5c0;">Your Invoices</h3>
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div href="https://www.youtube.com" class="box-your-desktop btn-buy">
                    <h3 style="color: #65c600;">Your Income</h3>
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="box-your-desktop">
                    <h3>Company Data</h3>
                    <a href="https://www.youtube.com" class="btn-buy">Buy Now</a>
                </div>
            </div> -->


            </div>
        </div>
    </div>

</section><!-- End Pricing Section -->
<section id="contact" class="contact">
    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
    <!-- End Footer -->
</section>
</body>

</html>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assets/js/main.js"></script>

{% endblock %}
